.drinks{
    margin: 60px 0 0 120px;
    
}

.drinks img{
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
    width: 485px;
    height: auto;
}

.drinks-content2{
    margin: -593px 0 0 600px;
}

.drinks-content3{
    margin: -593px 0 0 1200px;
}


